<div class="slide">
  <div class="product-image clearfix">
    <img src="../images/featured-product/product-01.jpg" alt="featured-product-img" />
    <div class="product-masking">
      <ul class="list-inline btn-group" role="group">
        <li>
          <a data-toggle="modal" href=".login-modal" class="btn btn-default">
            <i class="fa fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="cart-page.html" data-code="1" data-image="../images/featured-product/product-01.jpg" data-name="Mauris efficitur" data-price="199" class="btn btn-default add-cart">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
        <li>
          <a data-toggle="modal" data-image="../images/featured-product/product-01.jpg" data-name="Mauris efficitur" data-price="$199" href=".quick-view" class="btn btn-default">
            <i class="fa fa-eye"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product-caption clearfix">
    <a href="single-product.html">
      <h5>Mauris efficitur</h5>
    </a>
    <h3>$199</h3>
  </div>
</div>
<div class="slide">
  <div class="product-image clearfix">
    <img src="../images/featured-product/product-02.jpg" alt="featured-product-img" />
    <div class="product-masking">
      <ul class="list-inline btn-group" role="group">
        <li>
          <a data-toggle="modal" href=".login-modal" class="btn btn-default">
            <i class="fa fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="cart-page.html" data-code="2" data-image="../images/featured-product/product-02.jpg" data-name="Nulla facilisi" data-price="149" class="btn btn-default add-cart">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
        <li>
          <a data-toggle="modal" data-image="../images/featured-product/product-02.jpg" data-name="Nulla facilisi" data-price="$149" href=".quick-view" class="btn btn-default">
            <i class="fa fa-eye"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product-caption clearfix">
    <a href="single-product.html">
      <h5>Nulla facilisi</h5>
    </a>
    <h3>$149</h3>
  </div>
</div>
<div class="slide">
  <div class="product-image clearfix">
    <img src="../images/featured-product/product-03.jpg" alt="featured-product-img" />
    <div class="product-masking">
      <ul class="list-inline btn-group" role="group">
        <li>
          <a data-toggle="modal" href=".login-modal" class="btn btn-default">
            <i class="fa fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="#" data-code="3" data-image="../images/featured-product/product-03.jpg" data-name="Praesent dui felis" data-price="79" class="btn btn-default add-cart">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
        <li>
          <a data-toggle="modal" data-image="../images/featured-product/product-03.jpg" data-name="Praesent dui felis" data-price="$79" href=".quick-view" class="btn btn-default">
            <i class="fa fa-eye"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product-caption clearfix">
    <a href="single-product.html">
      <h5>Praesent dui felis</h5>
    </a>
    <h3>$79</h3>
  </div>
</div>
<div class="slide">
  <div class="product-image clearfix">
    <img src="../images/featured-product/product-04.jpg" alt="featured-product-img" />
    <div class="product-masking">
      <ul class="list-inline btn-group" role="group">
        <li>
          <a data-toggle="modal" href=".login-modal" class="btn btn-default">
            <i class="fa fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="cart-page.html" data-code="4" data-image="../images/featured-product/product-04.jpg" data-name="Cras eu faucibus" data-price="109" class="btn btn-default add-cart">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
        <li>
          <a data-toggle="modal" data-image="../images/featured-product/product-04.jpg" data-name="Cras eu faucibus" data-price="$109" href=".quick-view" class="btn btn-default">
            <i class="fa fa-eye"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product-caption clearfix">
    <a href="single-product.html">
      <h5>Cras eu faucibus</h5>
    </a>
    <h3>$109</h3>
  </div>
</div>
<div class="slide">
  <div class="product-image clearfix">
    <img src="../images/featured-product/product-05.jpg" alt="featured-product-img" />
    <div class="product-masking">
      <ul class="list-inline btn-group" role="group">
        <li>
          <a data-toggle="modal" href=".login-modal" class="btn btn-default">
            <i class="fa fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="cart-page.html" data-code="5" data-image="../images/featured-product/product-05.jpg" data-name="Mauris lobortis augue" data-price="189" class="btn btn-default add-cart">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
        <li>
          <a data-toggle="modal" data-image="../images/featured-product/product-05.jpg" data-name="Mauris lobortis augue" data-price="$189" href=".quick-view" class="btn btn-default">
            <i class="fa fa-eye"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product-caption clearfix">
    <a href="single-product.html">
      <h5>Mauris lobortis augue</h5>
    </a>
    <h3>$189</h3>
  </div>
</div>
<div class="slide">
  <div class="product-image clearfix">
    <img src="../images/featured-product/product-06.jpg" alt="featured-product-img" />
    <div class="product-masking">
      <ul class="list-inline btn-group" role="group">
        <li>
          <a data-toggle="modal" href=".login-modal" class="btn btn-default">
            <i class="fa fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="cart-page.html" data-code="6" data-image="../images/featured-product/product-06.jpg" data-name="Suspendisse suscipit" data-price="139" class="btn btn-default add-cart">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
        <li>
          <a data-toggle="modal" data-image="../images/featured-product/product-06.jpg" data-name="Suspendisse suscipit" data-price="$139" href=".quick-view" class="btn btn-default">
            <i class="fa fa-eye"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product-caption clearfix">
    <a href="single-product.html">
      <h5>Suspendisse suscipit</h5>
    </a>
    <h3>$139</h3>
  </div>
</div>
<div class="slide">
  <div class="product-image clearfix">
    <img src="../images/featured-product/product-07.jpg" alt="featured-product-img" />
    <div class="product-masking">
      <ul class="list-inline btn-group" role="group">
        <li>
          <a data-toggle="modal" href=".login-modal" class="btn btn-default">
            <i class="fa fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="cart-page.html" data-code="7" data-image="../images/featured-product/product-07.jpg" data-name="Praesent a augue" data-price="139" class="btn btn-default add-cart">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
        <li>
          <a data-toggle="modal" data-image="../images/featured-product/product-07.jpg" data-name="Praesent a augue" data-price="$139" href=".quick-view" class="btn btn-default">
            <i class="fa fa-eye"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product-caption clearfix">
    <a href="single-product.html">
      <h5>Praesent a augue</h5>
    </a>
    <h3>$139</h3>
  </div>
</div>
<div class="slide">
  <div class="product-image clearfix">
    <img src="../images/featured-product/product-08.jpg" alt="featured-product-img" />
    <div class="product-masking">
      <ul class="list-inline btn-group" role="group">
        <li>
          <a data-toggle="modal" href=".login-modal" class="btn btn-default">
            <i class="fa fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="cart-page.html" data-code="8" data-image="../images/featured-product/product-08.jpg" data-name="Cras vel augue" data-price="109" class="btn btn-default add-cart">
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
        <li>
          <a data-toggle="modal" data-image="../images/featured-product/product-08.jpg" data-name="Cras vel augue" data-price="$109" href=".quick-view" class="btn btn-default">
            <i class="fa fa-eye"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product-caption clearfix">
    <a href="single-product.html">
      <h5>Cras vel augue</h5>
    </a>
    <h3>$109</h3>
  </div>
</div>
