<div class="col-sm-4 col-xs-12">
  <div class="thumbnail">
    <div class="image-wrapper">
      <img src="../images/featured-collection/featured-collection-01.jpg" alt="feature-collection-image" />
      <div class="masking">
        <a href="product-grid-left-sidebar.html" class="btn view-btn">View Products</a>
      </div>
    </div>
    <div class="caption">
      <h4>shoes</h4>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="thumbnail">
    <div class="image-wrapper">
      <img src="../images/featured-collection/featured-collection-02.jpg" alt="feature-collection-image" />
      <div class="masking">
        <a href="product-grid-left-sidebar.html" class="btn view-btn">View Products</a>
      </div>
    </div>
    <div class="caption">
      <h4>bags</h4>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="thumbnail">
    <div class="image-wrapper">
      <img src="../images/featured-collection/featured-collection-03.jpg" alt="feature-collection-image" />
      <div class="masking">
        <a href="product-grid-left-sidebar.html" class="btn view-btn">View Products</a>
      </div>
    </div>
    <div class="caption">
      <h4>glasses</h4>
    </div>
  </div>
</div>
