<div class="panel panel-default filter-normal">
  <div class="panel-heading">filter by Color</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><a href="#">Black<span>(15)</span></a></li>
      <li><a href="#">White<span>(10)</span></a></li>
      <li><a href="#">Red<span>(7)</span></a></li>
      <li><a href="#">Blue<span>(12)</span></a></li>
      <li><a href="#">Orange<span>(12)</span></a></li>
    </ul>
  </div>
</div>
