<div class="footer clearfix">
	<div class="container">
		<div class="row">

			<div class="col-sm-2 col-xs-12">
				<!-- <div class="footer-link">
					<h5>Accessories</h5>
					<ul class="list-unstyled">
						{% for link in footerlinks.accesories %}
							<li><a href="#">{{ link }}</a></li>
						{% endfor %}
					</ul>
				</div> -->
			</div>
			<div class="col-sm-2 col-xs-12">
				<!-- <div class="footer-link">
					<h5>BRANDS</h5>
					<ul class="list-unstyled">
						{% for link in footerlinks.brands %}
							<li><a href="#">{{ link }}</a></li>
						{% endfor %}
					</ul>
				</div> -->
			</div>
			<div class="col-sm-2 col-xs-12">
				<!-- <div class="footer-link">
					<h5>designers</h5>
					<ul class="list-unstyled">
						{% for link in footerlinks.designers %}
							<li><a href="#">{{ link }}</a></li>
						{% endfor %}
					</ul>
				</div> -->
			</div>
			<div class="col-sm-2 col-xs-12">
				<div class="footer-link">
					<h5>Get in Touch</h5>
					<ul class="list-unstyled">
						<li>Call us at (52) 65482935</li>
					</ul>
					{% include 'partials/social-networks.njk' %}
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="newsletter clearfix">
					<h4>Newsletter</h4>
					<h3>Sign up now</h3>
					<p>Enter your email address and get notified about new products. We hate spam!</p>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2" />
						<a href="#" class="input-group-addon" id="basic-addon2">go <i class="glyphicon glyphicon-chevron-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="copy-right clearfix">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-xs-12">
				<p>&copy; ®2017 <a target="_blank" href="https://the-cocktail.com/">THE COCKTAIL EXPERIENCE</a>, S.L.</p>
			</div>
			<div class="col-sm-5 col-xs-12">
				<ul class="list-inline">
					<li><img src="../images/footer/card1.png" alt="x" /></li>
					<li><img src="../images/footer/card2.png" alt="x" /></li>
					<li><img src="../images/footer/card3.png" alt="x" /></li>
					<li><img src="../images/footer/card4.png" alt="x" /></li>
				</ul>
			</div>
		</div>
	</div>
</div>
