<div class="header clearfix">
	<div class="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-6 hidden-sm hidden-xs">
					{% include 'partials/social-networks.njk' %}
				</div>
				<div class="col-md-6 col-xs-12">
					<ul class="list-inline pull-right top-right">
						<li class="account-login"><span><a data-toggle="modal" href="#login">Log in</a><small>or</small><a data-toggle="modal" href="#signup">Create an account</a></span></li>
						<li class="search-box">
							<a href="#"><i class="fa fa-search"></i></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<span class="input-group">
										<input type="text" class="form-control" placeholder="Search…" aria-describedby="basic-addon2" />
										<button type="submit" class="input-group-addon">Submit</button>
									</span>
								</li>
							</ul>
						</li>
						<li class="dropdown cart-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>$<span id="cart-amount">0</span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>Item(s) in your cart</li>
								<li>
									<a href="single-product.html">
										<div class="media">
											<img class="media-left media-object" src="../images/cart-items/cart-item-01.jpg" alt="cart-Image" />
											<div class="media-body">
												<h5 class="media-heading">INCIDIDUNT UT <br /><span>2 X $199</span></h5>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="single-product.html">
										<div class="media">
											<img class="media-left media-object" src="../images/cart-items/cart-item-01.jpg" alt="cart-Image" />
											<div class="media-body">
												<h5 class="media-heading">INCIDIDUNT UT <br /><span>2 X $199</span></h5>
											</div>
										</div>
									</a>
								</li>
								<li>
									<div class="btn-group" role="group" aria-label="...">
										<button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">Shopping Cart</button>
										<button type="button" class="btn btn-default" onclick="location.href='checkout-step-1.html';">Checkout</button>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-main navbar-default" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src="../images/logo.png" alt="logo" /></a>
			</div>


			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="about-us.html">About Us</a>
					</li>
					<li class="dropdown">
						<a href="blog-right-sidebar.html">blog</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="account-dashboard.html">Dashboard</a></li>
							<li><a href="account-profile.html">Profile</a></li>
							<li><a href="account-all-orders.html">All Orders</a></li>
							<li><a href="account-single-order.html">Single Order</a></li>
							<li><a href="account-wishlist.html">Wishlist</a></li>
							<li><a href="account-address.html">Address</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</div>
