<div class="col-sm-3 col-xs-12">
  <div class="thumbnail">
    <h5>
      <a href="blog-single-right-sidebar.html">Donec egestas tortor quis mattis</a>
    </h5>
    <span class="meta">February 07, 2017 by
      <a href="#">Kelly Pocket</a>
    </span>
    <a href="blog-single-right-sidebar.html">
      <img src="../images/articles/articles-01.jpg" alt="article-image" />
    </a>
    <div class="caption">
      <p>Nulla facilisi. Mauris efficitur, massa et iaculis accumsan, mauris velit ultrices purus, quis condimentum nibh dolor ut tortor.</p>
    </div>
  </div>
</div>
<div class="col-sm-3 col-xs-12">
  <div class="thumbnail">
    <h5>
      <a href="blog-single-right-sidebar.html">PELLENTESQUE RISUS QUIS TELLUS</a>
    </h5>
    <span class="meta">February 07, 2017 by
      <a href="#">Kelly Pocket</a>
    </span>
    <a href="blog-single-right-sidebar.html">
      <img src="../images/articles/articles-02.jpg" alt="article-image" />
    </a>
    <div class="caption">
      <p>Praesent dui felis, gravida a auctor at, facilisis commodo ipsum. Cras eu faucibus justo. Nullam varius cursus nisi.</p>
    </div>
  </div>
</div>
<div class="col-sm-3 col-xs-12">
  <div class="thumbnail">
    <h5>
      <a href="blog-single-right-sidebar.html">MAURIS LOBORTIS AUGUE EX</a>
    </h5>
    <span class="meta">February 06, 2017 by
      <a href="#">Lily Allen</a>
    </span>
    <a href="blog-single-right-sidebar.html">
      <img src="../images/articles/articles-03.jpg" alt="article-image" />
    </a>
    <div class="caption">
      <p>Etiam aliquam turpis quis blandit finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
<div class="col-sm-3 col-xs-12">
  <div class="thumbnail">
    <h5>
      <a href="blog-single-right-sidebar.html">SUSPENDISSE VESTIBULUM DIGNISSIM</a>
    </h5>
    <span class="meta">February 06, 2017 by
      <a href="#">Diana Prince</a>
    </span>
    <a href="blog-single-right-sidebar.html">
      <img src="../images/articles/articles-04.jpg" alt="article-image" />
    </a>
    <div class="caption">
      <p>Suspendisse tristique interdum est, at hendrerit nunc laoreet et. Nulla vel arcu ac turpis pulvinar tincidunt eu eu nisi.</p>
    </div>
  </div>
</div>
