<section class="light-section clearfix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="owl-carousel partners-logo-slider">
					<div class="slide">
						<div class="partners-logo clearfix">
							<img src="../images/partners/partner-01.png" alt="partner-img" />
						</div>
					</div>
					<div class="slide">
						<div class="partners-logo clearfix">
							<img src="../images/partners/partner-02.png" alt="partner-img" />
						</div>
					</div>
					<div class="slide">
						<div class="partners-logo clearfix">
							<img src="../images/partners/partner-03.png" alt="partner-img" />
						</div>
					</div>
					<div class="slide">
						<div class="partners-logo clearfix">
							<img src="../images/partners/partner-04.png" alt="partner-img" />
						</div>
					</div>
					<div class="slide">
						<div class="partners-logo clearfix">
							<img src="../images/partners/partner-05.png" alt="partner-img" />
						</div>
					</div>
					<div class="slide">
						<div class="partners-logo clearfix">
							<img src="../images/partners/partner-01.png" alt="partner-img" />
						</div>
					</div>
					<div class="slide">
						<div class="partners-logo clearfix">
							<img src="../images/partners/partner-02.png" alt="partner-img" />
						</div>
					</div>
					<div class="slide">
						<div class="partners-logo clearfix">
							<img src="../images/partners/partner-03.png" alt="partner-img" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
