<div class="col-xs-12">
  <div class="thumbnail">
    <img src="../images/blog/blog-01.jpg" alt="blog-image" />
    <div class="caption">
      <div class="row">
        <div class="col-md-2 col-md-push-10 col-sm-4 col-sm-push-8 col-xs-12">
          <h5>Details</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>Adam Smith</a>
            </li>
            <li>
              <i class="fa fa-calendar" aria-hidden="true"></i>Feb 07, 2017</li>
            <li>
              <a href="#">
                <i class="fa fa-tags" aria-hidden="true"></i>Travel</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i>8 comments</a>
            </li>
          </ul>
        </div>
        <div class="col-md-10 col-md-pull-2 col-sm-8 col-sm-pull-4 col-xs-12">
          <h3>
            <a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="thumbnail">
    <img src="../images/blog/blog-02.jpg" alt="blog-image" />
    <div class="caption">
      <div class="row">
        <div class="col-md-2 col-md-push-10 col-sm-4 col-sm-push-8 col-xs-12">
          <h5>Details</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>Adam Smith</a>
            </li>
            <li>
              <i class="fa fa-calendar" aria-hidden="true"></i>Feb 07, 2017</li>
            <li>
              <a href="#">
                <i class="fa fa-tags" aria-hidden="true"></i>Travel</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i>8 comments</a>
            </li>
          </ul>
        </div>
        <div class="col-md-10 col-md-pull-2 col-sm-8 col-sm-pull-4 col-xs-12">
          <h3>
            <a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="thumbnail">
    <img src="../images/blog/blog-03.jpg" alt="blog-image" />
    <div class="caption">
      <div class="row">
        <div class="col-md-2 col-md-push-10 col-sm-4 col-sm-push-8 col-xs-12">
          <h5>Details</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>Adam Smith</a>
            </li>
            <li>
              <i class="fa fa-calendar" aria-hidden="true"></i>Feb 07, 2017</li>
            <li>
              <a href="#">
                <i class="fa fa-tags" aria-hidden="true"></i>Travel</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i>8 comments</a>
            </li>
          </ul>
        </div>
        <div class="col-md-10 col-md-pull-2 col-sm-8 col-sm-pull-4 col-xs-12">
          <h3>
            <a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="thumbnail">
    <img src="../images/blog/blog-04.jpg" alt="blog-image" />
    <div class="caption">
      <div class="row">
        <div class="col-md-2 col-md-push-10 col-sm-4 col-sm-push-8 col-xs-12">
          <h5>Details</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>Adam Smith</a>
            </li>
            <li>
              <i class="fa fa-calendar" aria-hidden="true"></i>Feb 07, 2017</li>
            <li>
              <a href="#">
                <i class="fa fa-tags" aria-hidden="true"></i>Travel</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i>8 comments</a>
            </li>
          </ul>
        </div>
        <div class="col-md-10 col-md-pull-2 col-sm-8 col-sm-pull-4 col-xs-12">
          <h3>
            <a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="thumbnail">
    <img src="../images/blog/blog-05.jpg" alt="blog-image" />
    <div class="caption">
      <div class="row">
        <div class="col-md-2 col-md-push-10 col-sm-4 col-sm-push-8 col-xs-12">
          <h5>Details</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>Adam Smith</a>
            </li>
            <li>
              <i class="fa fa-calendar" aria-hidden="true"></i>Feb 07, 2017</li>
            <li>
              <a href="#">
                <i class="fa fa-tags" aria-hidden="true"></i>Travel</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i>8 comments</a>
            </li>
          </ul>
        </div>
        <div class="col-md-10 col-md-pull-2 col-sm-8 col-sm-pull-4 col-xs-12">
          <h3>
            <a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
