<div class="panel panel-default price-range">
  <div class="panel-heading">Filter by Price</div>
  <div class="panel-body clearfix">
    <div class="price-slider-inner">
      <span class="amount-wrapper">
        Price:
        <input type="text" id="price-amount-1" readonly="true" />
        <strong>-</strong>
        <input type="text" id="price-amount-2" readonly="true" />
      </span>
      <div id="price-range"></div>
    </div>
    <input class="btn btn-default" type="submit" value="Filter" />

  </div>
</div>
