<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-01.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">NIKE SPORTSWEAR</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$199</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-02.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">cool glasses</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$249</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-03.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">fresh dress</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$179</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-04.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">Training bag</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$349</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-05.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">NY Cap</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$120</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-06.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">Nike Trainers</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$2200</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-07.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">Hipster Hat</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$210</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-08.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">Denim Dress</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$530</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-09.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">Explorer dress</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$350</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-10.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">Green Bikini</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$290</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-11.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">Black Bikini</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$320</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="../images/products/products-12.jpg" alt="Image" />
      <span class="masking-image">
        <a data-toggle="modal" href=".quick-view" class="btn view-btn">Quick View</a>
      </span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="single-product.html">Sun Dress</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h3>$275</h3>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
