<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-01.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="1" data-image="../images/featured-product/product-01.jpg" data-name="NIKE SPORTSWEAR" data-price="199" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-01.jpg" data-name="Nike Sportwear" data-price="$199" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>NIKE SPORTSWEAR</h5>
      </a>
      <h3>$199</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-02.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="2" data-image="../images/featured-product/product-02.jpg" data-name="Cool Glasses" data-price="249" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-02.jpg" data-name="Cool Glasses" data-price="$249" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>cool glasses</h5>
      </a>
      <h3>$249</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-03.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="1" data-image="../images/featured-product/product-03.jpg" data-name="fresh dress" data-price="179" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-03.jpg" data-name="Fresh Dress" data-price="$179" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>fresh dress</h5>
      </a>
      <h3>$179</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-04.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="4" data-image="../images/featured-product/product-04.jpg" data-name="trainning bag" data-price="349" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-04.jpg" data-name="Trainnig Bag" data-price="$349" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>Training bag</h5>
      </a>
      <h3>$349</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-05.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="5" data-image="../images/featured-product/product-05.jpg" data-name="NY Cap" data-price="120" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-05.jpg" data-name="NY Cap" data-price="$120" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>NY Cap</h5>
      </a>
      <h3>$120</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-06.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="6" data-image="../images/featured-product/product-06.jpg" data-name="NIKE trainers" data-price="2200" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-06.jpg" data-name="Nike Trainers" data-price="$2200" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>Nike Trainers</h5>
      </a>
      <h3>$2200</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-07.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="7" data-image="../images/featured-product/product-07.jpg" data-name="hipster hat" data-price="210" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-07.jpg" data-name="Hipster Hat" data-price="$210" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>Hipster Hat</h5>
      </a>
      <h3>$210</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-08.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="8" data-image="../images/featured-product/product-08.jpg" data-name="Demin Dress" data-price="530" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-08.jpg" data-name="Denim Dress" data-price="$530" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>Denim Dress</h5>
      </a>
      <h3>$530</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-09.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="9" data-image="../images/featured-product/product-09.jpg" data-name="Explorer Dress" data-price="350" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-09.jpg" data-name="Explorer Dress" data-price="$350" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>Explorer dress</h5>
      </a>
      <h3>$350</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-10.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="10" data-image="../images/featured-product/product-10.jpg" data-name="Green Bikini" data-price="290" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-10.jpg" data-name="Green Bikini" data-price="$290" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>Green Bikini</h5>
      </a>
      <h3>$290</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-11.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="11" data-image="../images/featured-product/product-11.jpg" data-name="Black bikini" data-price="320" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-11.jpg" data-name="Black Bikini" data-price="$320" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>Black Bikini</h5>
      </a>
      <h3>$320</h3>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="product-box">
    <div class="product-image clearfix">
      <img src="../images/products/products-12.jpg" alt="products-img" />
      <div class="product-masking">
        <ul class="list-inline btn-group" role="group">
          <li>
            <a data-toggle="modal" href=".login-modal" class="btn btn-default">
              <i class="fa fa-heart"></i>
            </a>
          </li>
          <li>
            <a href="cart-page.html" data-code="1" data-image="../images/featured-product/product-12.jpg" data-name="Sun Dress" data-price="275" class="btn btn-default add-cart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
          <li>
            <a data-toggle="modal" data-image="../images/featured-product/product-12.jpg" data-name="Sun Dress" data-price="$275" href=".quick-view" class="btn btn-default">
              <i class="fa fa-eye"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-caption clearfix">
      <a href="single-product.html">
        <h5>Sun Dress</h5>
      </a>
      <h3>$275</h3>
    </div>
  </div>
</div>
