<div class="panel panel-default recent-blog-posts">
  <div class="panel-heading">recent posts</div>
  <div class="panel-body">
    <div class="media">
      <a class="media-left" href="blog-single-right-sidebar.html">
        <img class="media-object" src="../images/blog/blog-small-01.jpg" alt="Image" /> </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="blog-single-right-sidebar.html">Totam Rem Aperiam Ea queab Ipsa.</a>
        </h4>
        <p>
          <i class="fa fa-calendar" aria-hidden="true"></i>7 February, 2017</p>
      </div>
    </div>
    <div class="media">
      <a class="media-left" href="blog-single-right-sidebar.html">
        <img class="media-object" src="../images/blog/blog-small-02.jpg" alt="Image" /> </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="blog-single-right-sidebar.html">Totam Rem Aperiam Ea queab Ipsa.</a>
        </h4>
        <p>
          <i class="fa fa-calendar" aria-hidden="true"></i>7 February, 2017</p>
      </div>
    </div>
    <div class="media">
      <a class="media-left" href="blog-single-right-sidebar.html">
        <img class="media-object" src="../images/blog/blog-small-03.jpg" alt="Image" /> </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="blog-single-right-sidebar.html">Totam Rem Aperiam Ea queab Ipsa.</a>
        </h4>
        <p>
          <i class="fa fa-calendar" aria-hidden="true"></i>8 February, 2017</p>
      </div>
    </div>
  </div>
</div>
