<ul class="list-inline">
  <li><a href="https://twitter.com/the_cocktail"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://www.facebook.com/thecocktail"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://www.linkedin.com/company/the-cocktail"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="https://www.youtube.com/user/thecocktailvideo"><i class="fa fa-youtube"></i></a></li>
  <li><a href="https://www.flickr.com/photos/thecocktail/"><i class="fa fa-flickr"></i></a></li>
</ul>
