{% extends "layouts/base.njk" %}

{% block content %}

<section class="main-content clearfix cart-list-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cart-list-inner">
          <form action="#">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                  </tr>
                </thead>
                <tbody class="cart-list-body"></tbody>
              </table>
            </div>
            <div class="update-area">
              <div class="input-group">
                <input id="coupon-name" type="text" class="form-control" placeholder="I have a discount coupon" aria-describedby="basic-addon2" />
                <a href="#" class="btn input-group-addon apply-coupon" id="basic-addon2">apply coupon</a>
                <small>(EMPLOYEECUOPON, TAXFREE, SPECIALCOUPON)</small>
              </div>
              {# <a href="#" class="btn">update cart</a> #}
            </div>
            <div class="total-amount-area">
              <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                <ul class="list-unstyled">
                  <li>Sub Total <span class="cart-subtotal"></span></li>
                  <li>Tax <span class="cart-tax"></span></li>
                  <li class="cart-discount"></li>
                  <li>Grand Total <span class="grand-total cart-amount"></span></li>
                </ul>
              </div>
            </div>
            <div class="check-btn-area">
              <a href="#" class="btn btn-primary btn-block" id="checkout">checkout<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
