{% extends "layouts/base.njk" %}

{% block content %}

<section class="main-content clearfix setp5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="thanks-content">
          <h2>Thank You For Your Order <small>You will receive an email of your order details</small></h2>
          <h3>Shipping Details</h3>
          <div class="thanks-inner">
            <div class="row">
              <div class="col-sm-6 col-xs-12 table-blcok">
                <address>
                  <span>Shipping address:</span> Río Elba #22, Col. Cuauhtemoc, CDMX <br />
                  <span>Email:</span> user@xmail.com <br />
                  <span>Phone:</span> +52 58927033
                </address>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="well">
                  <h2><small>Order ID</small>9547</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
