{% extends "layouts/base.njk" %}

{% block content %}

{% include "partials/banner.njk" %}

<section class="main-content clearfix">
	<div class="container">
		<div class="row featured-collection margin-bottom">
			<div class="col-xs-12">
				<div class="page-header">
					<h4>Featured Collection</h4>
				</div>
			</div>
			{% include "partials/featuredcollection.njk" %}
		</div>
		<div class="row featured-products margin-bottom">
			<div class="col-xs-12">
				<div class="page-header">
					<h4>Featured Products</h4>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="owl-carousel featured-products-slider">
					{% include "partials/featuredproducts.njk" %}
				</div>
			</div>
		</div>
		<div class="row latest-articles">
			<div class="col-xs-12">
				<div class="page-header">
					<h4>Latest Articles</h4>
				</div>
			</div>
			{% include "partials/latestarticles.njk" %}
			{% for article in latestarticles %}
				<div class="col-sm-3 col-xs-12">
					<div class="thumbnail">
						<h5><a href="blog-single-right-sidebar.njk">{{ article.title }}</a></h5>
						<span class="meta">{{ article.date }} by <a href="#">{{ article.author }}</a></span>
						<a href="blog-single-right-sidebar.njk"><img src="{{ article.img }}" alt="article-image" /></a>
						<div class="caption">
							<p>{{ article.caption }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% include "partials/light-section.njk" %}

{% endblock %}
