{% extends "layouts/base.njk" %}

{% block content %}

<section class="main-content clearfix products-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 side-bar">
        {% include 'partials/product-categories.njk' %}
        {% include 'partials/price-range.njk' %}

        {% include 'partials/filter-by-color.njk' %}
        {% include 'partials/filter-by-size.njk' %}
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filter-area">
          <div class="col-xs-6">
            <!-- <select name="guiest_id1" id="guiest_id1" class="select-drop">
              <option value="0">Default sorting</option>
              <option value="1">Sort by popularity</option>
              <option value="2">Sort by rating</option>
              <option value="3">Sort by newness</option>
              <option value="3">Sort by price</option>
            </select> -->
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default" onclick="window.location.href='product-grid-left-sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
              <button type="button" class="btn btn-default active" onclick="window.location.href='product-list-left-sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
            </div>
          </div>
        </div>
        <div class="row product-list-single">
          {% include "partials/product-list.njk" %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include "partials/light-section.njk" %}

{% endblock %}
