<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<meta name="description" content="Liberty Seguros" />
		<meta name="author" content="Liberty Seguros" />

		<title>Tienda - {% block title %}Inicio{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- PLUGINS CSS STYLE -->
		<link href="plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
		<link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="plugins/selectbox/select_option1.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="plugins/rs-plugin/css/settings.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="plugins/owl-carousel/owl.carousel.css" media="screen" />

		<!-- GOOGLE FONT -->
		<link href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700" rel="stylesheet" type="text/css" />

		<!--[if lt IE 9]>
			<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="manifest" href="manifest.json" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="ms-icon-144x144.png" />
		<meta name="theme-color" content="#ffffff" />

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-ND4ZZH3');</script>
		<!-- End Google Tag Manager -->
	</head>
	{% if productList %}
		<body class="body-wrapper" onload="setImpressions();">
	{% else %}
  	<body class="body-wrapper">
	{% endif %}

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ND4ZZH3"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="main-wrapper">
			{% include 'partials/header.njk' %}

			{% block content %}{% endblock %}

			{% include "partials/footer.njk" %}
		</div>

		{% include 'partials/login-modal.njk' %}
		{% include 'partials/signup-modal.njk' %}
		{% include 'partials/product-quick-view-modal.njk' %}

		<!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="plugins/jquery-ui/jquery-ui.js"></script>
		<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="plugins/owl-carousel/owl.carousel.js"></script>
		<script src="plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
		<script src="plugins/countdown/jquery.syotimer.js"></script>
		<script type="text/javascript" src="plugins/template-behavior.js"></script>
	</body>
</html>
